
.cards-container
    position: relative
    min-height: 50vh
.cards-list-and-map
    display: flex
    justify-content: space-evenly
.cards-list-container
    position: relative
    height: 500px
    overflow-y: scroll
    // flex-basis: 200%
.search-div
    position: sticky
    top: 0
    padding: 10px
    background-color: #fff !important
    z-index: 10

.cards-list-container::-webkit-scrollbar
    width: 7px
.cards-list-container::-webkit-scrollbar-track
    background-color: #a9baf7
.cards-list-container::-webkit-scrollbar-thumb
    background-color: #f9faff
    border-radius: 6px
    border: 1px solid #b8b8b8
.cards-list
    position: relative
    display: flex
    flex-direction: column
    padding: 10px
    grid-gap: 0.7rem
@media screen and(max-width:800px)
    .search-div
        // width: 100%
.no_resaults-div
    max-width: 300px
    position: absolute
    margin-left: 50%
    transform: translate(-50%)
    img
        width: 100%
.loader
    width: 100%
    text-align: center
